@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Fraunces 144';
    src: url('../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkPurple:#24053E;
    --davisGrey:#584D62;
    --eucaplyptus: #44FFA1;
    --ghostWhite: #FCF8FF;
    --white: #ffffff;

}

html, body{
    overflow-x: hidden;
}
body{

    font-family: "Manrope", system-ui;
}

.header{
    background-color: #24053E;
    color: var(--white);
    height: 724px;
    position: relative;
    width: 100%;

}

.header-logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.header-logo p{
    text-decoration: 2px underline var(--eucaplyptus);
    text-underline-offset: 7px;
    color: var(--white);

}

.header-logo p:hover{
    color: var(--eucaplyptus);
    cursor: pointer;


}

.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-title h1{
    font-family: 'Fraunces 144', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
}
.header-title span{
    text-decoration: 2px underline var(--eucaplyptus);
    text-underline-offset: 7px;
}

.header-img{
    display: flex;
    justify-content: center;
    /* agr vc é o pai do item mais proximo que posui a propriedade absolute*/
    position: relative;
    
}

.header-img img{
    width: 767px;
    height: 441px;
    position:absolute;
    left: 33%;
}

.header-title button{
    margin: 37px 0 50px 0;
    font-size: 18px;
    background-color: var(--eucaplyptus);
    color: var(--darkPurple);
    font-weight: 800px;
    line-height: 32px;
    letter-spacing: -0.18px;
    padding: 14px 32px;
    border: none;
}

.header-title button:hover{
    background-color: transparent;
    color: var(--eucaplyptus);
    cursor: pointer;
    border: 1px solid var(--eucaplyptus);
}

#anel1{
    width: 270px;
    height: 251px;
    position: absolute;
    left: -4%;
    top: 10%;
}

#anel2{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 93%;
    top: 38%;
}

.section-main{
    background-color: var(--ghostWhite);
    color: var(--darkPurple);
    font-weight: 600px;
    letter-spacing: 0px;
    line-height: 40px;
    display: flex;
    gap: 26px;
    padding: 180px 162px 171px;
}
.main-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-number{
    font-family: 'Fraunces 144', serif;
    font-size: 24px;
    width: 56px;
    height: 56px;
    font-weight: 600;
    line-height: 40px;
    border: 1px solid var(--darkPurple);
    padding: 8px 16px;
    border-radius: 50%;
}

.section-founder{
    display: flex;
    justify-content: center;
    padding: 168px 0 60px;
    position: relative;
    left: 5%;
    
}

.founder-img img{
    width: 477px;
    height: 477px;

}

.founder-descr{
    width: 730px;
    /*quando eu uso position absolute> top, left, rigth e bottom*/
    position: relative;
    right: 5%;
    height: auto;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    color: #ffffff;
    background-color: var(--darkPurple); 
    margin-top: 8%;
   
}

.founder-descr h2{
 font-family: 'Fraunces 144', serif;
 font-size: 56px;
 font-weight: 600;
 line-height: 64px;
}

.founder-descr p{
    font-family: 'Manrope', system-ui;
    line-height: 28px;
}

.founder-descr button{
    font-family: 'Manrope', system-ui;
    background-color: var(--eucaplyptus);
    color: var(--darkPurple);
    font-weight: 800;
    border:none;
    line-height: 32px;
    letter-spacing: -0.18px;
    padding: 12px 23px;
    border: none;
}

.founder-descr button:hover{
    color: var(--eucaplyptus);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--eucaplyptus);
    
}
#anel3{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 75%;
    left: 60%;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 110px;
    gap: 56px;
}

.footer-icons{
    display: flex;
    gap: 28px;
}

.footer-icons img{
    transition: 0.3s ease-out;
}

.footer-icons img:hover{
    cursor: pointer;
    background-color: #24053e18;
}

@media  screen and (max-width: 768px) {
    .header{
        
    }

    .header-title{
        margin: 56px 58px;
    }

    .header-title h1{
        font-size: 60px;
        line-height: 60px;
    }

    .header-img img {
        width: 514px;
        height: 296px;
        left: 15%;
    }

    #anel1{
        left: -20%;
        top: 20%;
    }

    .section-main{
        flex-direction: column;
        align-items: center;
        padding: 104px 98px;
    }

    .main-item{
        flex-direction: row;
        width: 90%;
        gap: 32px;
    }

    .item-number{
        border-radius: 100%;
        width: 48px;
        height: 46px;
        line-height: 30px;
        font-size: 20px; 
    }

    .item-texts{
        text-align: left;
    }

    .founder-img img{
        width: 265px;
        height: 267px;
    }

    .founder-descr{
        width: 514px;
        height: 375px;
        right: 10%; 
    }

    









@media  screen and (max-width: 469px) {
    
}
